:root {
  --color-blue: #4754EB;
  --color-red: #EB478B;
  --color-light-grey: rgba(255, 255, 255, 0.5);
  --color-grey: #F2F2F2;
  --main-grey: #808080;
  --main-lt-grey: #fafafa;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: 700;
}

.body {
  position: relative;
  font-family: 'Roboto';
  font-weight: 400;
  /* font-style: italic; */
  width: 100%;
  max-width: 1392px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 18px;
  padding-left: 56px;
  margin-top: 20px;
}
.logo a {
  color: #4754EB;
}
.nav {
  display: flex;
  justify-content: flex-start;
  gap: 0 24px;
  list-style-type: none;
  font-size: 18px;
  margin-top: 20px;
}
.nav a {
  color: #808080;
}
.right-menu {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.language {
  margin-top: 10px;
}
.language a {
  color: #808080;
}
.language .active {
  color: #4754EB;
  font-weight: 700;
}
.bottom {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 16px;
  margin-top: 10px;
  /* width: 220px; */
  padding: 12px 24px;
  text-align: center;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
}
.bottom:hover {
  border: 1px solid var(--color-blue);
  background-color: white;
  color: var(--color-blue);
}
.header-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 720px;
  z-index: 0;
}
.header-wrap::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(45deg, var(--color-red) 0%, var(--color-blue) 18%, var(--color-blue) 20%, white 40%);
  opacity: 0.4;
}
.header-wrap::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: radial-gradient(circle farthest-corner at 60% 60%, white 0%, var(--color-blue) 13%, transparent 30%);
  opacity: 0.3;
}
.header-content,
.header-banner {
  width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
}
.header-banner {
  position: relative;
  height: 100%;
}
.header-banner_round__blue {
  position: absolute;
  width: 302px;
  height: 302px;
  border-radius: 50%;
  background-color: var(--color-blue);
  left: 0;
  top: 280px;
}
.header-banner_round__white {
  position: absolute;
  width: 465px;
  height: 465px;
  border-radius: 50%;
  background-color: white;
  left: 163px;
  top: 80px;
}
.banner {
  position: absolute;
  background-image: url(../images/Saly-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  width: 100%;
  height: 100%;
  /* aspect-ratio: 628/720; */
}
.h1 {
  padding-left: 56px;
  padding-top: 120px;
  font-size: 56px;
  max-width: 268px;
  font-weight: 500;
}
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 50px;
  margin-left: 56px;
  max-width: 465px;
  width: calc(100% - 56px - 20px);
  background: rgba(255, 255, 255, 0.5);
  padding: 20px 16px;
  border-radius: 16px;
  height: 64px;
  border: 1px solid;
  border-image-source: linear-gradient(268.91deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);

}
.subscribe input,
.subscribe button {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid white;
  /*width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  
  с этим кодом немного не разобрался, с ним как-то хуже внешне выглядит или я что-то не так делаю
  */
}
.subscribe input {
  background: transparent;
  border: none;
}
.subscribe button {
  background-color: #FFFFFF;
  border-radius: 16px;
  color: var(--color-blue);
  font-weight: 600;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
}
.text-button {
  font-size: 12px;
  max-width: 354px;
  margin-top: 16px;
  margin-left: 64px;
}
.text-button a {
  color: #4754EB;
}
.art-header {
  padding-left: 56px;
}
.art-content {
  padding-left: 24px;
}
/* скролл не виден, так-как он белый на белом фоне */
.scroll {
  display: flex;
  align-items: center;
  margin-left: 56px;
  margin-top: 126px;
  background-color: transparent;
}
.pic-scroll {
  background-image: url(../svg/wheeldown.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 24px;
  height: 32px;
}
.text-scroll {
  display: block;
  padding-left: 8px;
  color: #FFFFFF;
}
.main {
  margin-top: 80px;
}
.art-header {
  font-size: 24px;
}
.article-first .art-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.article-first .head-section {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 16px;
}
.article-first .smile-section {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 56px;
  height: 56px;
}
.one {
  background-image: url(../svg/emoji-01.svg);
}
.two {
  background-image: url(../svg/emoji-02.svg);
}
.three {
  background-image: url(../svg/emoji-03.svg);
}
.article-first .header-section {
  margin-left: 12px;
  font-size: 20px;
}
.article-first .text-section {
  max-width: 389px;
  font-size: 18px;
  color: #808080;
}
.article-second .art-body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 800px;
  z-index: -1;
  background: linear-gradient(49deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 69%, rgba(71,84,235,1) 100%);
  opacity: 0.4;
}
.article-second  .art-header {
  padding-top: 80px;
}
.article-second-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 56px;
  /* padding-top: 161px; */
  height: 540px;
}
.article-second-left,
.article-second-right {
  width: 50%;
  height: 100%;
}
.box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.scroll-second {
  padding-top: 24px;
}
.scroll-second .active {
  color: var(--color-blue);
}
.second-right-header {
  padding-top: 30px;
  font-size: 36px;
  color: var(--main-black, #1A1A1A);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.second-right-description {
  padding-top: 16px;
  max-width: 443px;
  color: var(--color-blue);
  font-size: 18px;
}
.second-right-text {
  padding-top: 16px;
  max-width: 443px;
  color: var(--main-grey, #808080);
}
.bottom-box .bottom {
  max-width: 247px;
}
.banner-second_round__pink {
  position: absolute;
  width: 302px;
  height: 302px;
  border-radius: 50%;
  background-color: #EB478B;
  left: 0px;
  bottom: -13px;
  z-index: -1;
}
.banner-second_round__white {
  position: absolute;
  width: 540px;
  height: 540px;
  border-radius: 50%;
  background-color: white;
  left: 88px;
  top: -1px;
  z-index: 0;
}
.banner-second {
  position: absolute;
  background-image: url(../images/Picture-2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  top: -2px;
  margin-left: 38px;
  margin-bottom: 100px;
  width: 540px;
  height: 540px;
  z-index: 1;
}

/* ТАРИФЫ */

.article-three {
  margin-top: 80px;
}

.article-three .art-content {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.article-three {
  padding-top: 80px;
}
.article-three .art-content {
  display: flex;
  justify-content: space-between;
  max-width: calc((100% - 24 * 5) / 4);
  gap: 24px;
  padding: 40px 24px;
}
.column {
  width: 100%;
  /* border: 1px solid #aaa; */
  border-radius: 24px; 
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 20px 0px rgba(25, 25, 25, 0.05);
  backdrop-filter: blur(12px); 
  overflow: hidden;
}
.column-one {
  width: 100%;
}
.title-column {
  width: 100%;
  background: rgba(255, 255, 255, 0.50); 
  padding: 20px 24px;
  font-size: 24px;
}
.description-column {
  padding: 24px;
  color: var(--main-grey);
  font-size: 18px;
}
.description-column li {
  margin-left: 48px;
  display: block;
  list-style: none;
  position: relative;
  margin-bottom: 16px;
}

.title-column span:nth-child(1) {
  color: var(--color-blue);
}
.title-column span:nth-child(2) {
  color: #808080;
}
.included::before {
  position: absolute;
  display: block;
  content: '\2714';
  left: -48px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 1.6;
  color: var(--color-blue);
}
.no-included::before {
  position: absolute;
  display: block;
  content: '\2718';
  left: -48px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  line-height: 1.6;
  color: red;
}
.column-two {
  padding: 0 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}
.button-column {
  background-color: white;
  width: 100%;
  border-radius: 24px;
  padding: 12px;
  text-align: center;
  color: var(--color-blue);
}

/* ==========  ОТЗЫВЫ  ===========*/

.article-feedback {
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding: 60px 56px;
  z-index: 0;
  background-color: var(--main-lt-grey);
}
.article-feedback::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-140deg, var(--color-red) 5%, transparent 25%);
  opacity: 0.3;
  z-index: -2;
}
.article-feedback::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(-40deg, var(--color-blue) 5%, transparent 25%);
  opacity: 0.3;
  z-index: -1;
}
.article-feedback .art-header {
  padding-left: 0;
}
.article-feedback .art-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-top: 50px;
  padding-left: 0;
}
.feedback {
  width: calc((100% - 24px) / 2);
}
.feedback-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  border-radius: 24px;
  box-shadow: -2px 4px 20px 0px rgba(25, 25, 25, 0.03);
  backdrop-filter: blur(120px); 
  border: 1px solid #ddd;
  overflow: hidden;
  transform: translate(0, 0);
  transition-property: transform;
  transition-duration: 3s;
}

.feedback:nth-child(2) .feedback-shift {
  transform: translate(-327px, -56px);
  transition-property: transform;
  transition-duration: 3s;
}
.feedback:nth-child(3) .feedback-shift {
  transform: translate(164px, 0);
  transition-property: transform;
  transition-duration: 3s;
}
.feedback:nth-child(4) .feedback-shift {
  transform: translate(0, -128px);
  transition-property: transform;
  transition-duration: 3s;
}

.feedback-header {
  width: 100%;
  padding: 16px;
  background: rgba(255, 255, 255, 0.50);
  box-shadow: -2px 4px 20px 0px rgba(25, 25, 25, 0.03);
  backdrop-filter: blur(120px); 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-header_title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.feedback-header_avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url(../images/image_5.png);
}
.feedback-header_name {
  color: var(--main-black, #1A1A1A);
/* H3/Desktop */
  font-size: 24px;
  font-weight: 700;
  line-height: 100%; 
}

.feedback-text {
  width: 100%;
  padding: 16px 24px;
}
.feedback-stars {
  width: 100%;
  padding: 0 24px 16px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.feedback-stars li {
  list-style: none;
}
.btn-box {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
.btn-feedback {
  width: 300px;
  border: 1px solid #ddd;
  background-color: white;
  border-radius: 16px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 18px;
  color: var(--color-blue);
}


/* ==========  SALE  ===========*/
.article-sale .art-body {
  padding: 88px 0;
}
.article-sale .art-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 24px;
}
.sale-get{
  width: 50%;
}
.sale-img {
  width: 50%;
  padding: 0 7%;
}
.sale-get {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.sale-img-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.sale-get_desc {
  /* padding: 120px 57px 40px 708px; */
  font-size: 56px;
}
.sale-get_box {
  /* padding: 0 220px 16px 708px; */
}
.mail_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 465px;
  width: calc(100% - 56px - 20px);
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  height: 64px;
  border: 1px solid #F2F2F2;
}
.mail_box input,
.mail_box button {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid white;
}
.mail_box input {
  background: transparent;
  border: none;
  padding-left: 10px;
}
.mail_box button {
  background-color: var(--color-blue);
  border-radius: 16px;
  color: #FFFFFF;
  font-weight: 600;
  text-align: center;
  padding: 12px 24px;
  cursor: pointer;
}
.sale-get_box .text-button {
  font-size: 12px;
  max-width: 354px;
  margin: 16px 0 0 10px;
  padding-bottom: 158px;
}
.text-button a {
  color: #4754EB;
}
.round-for-men {
  position: absolute;
  width: 100%;
  /* height: 480px; */
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(235,71,139,0.5) 0%, rgba(169,105,201,0.5) 75%, rgba(71,84,235,0.5) 100%);
  left: 0;
  top: 0;
  z-index: -1;
}
.sale-img-men {
  position: absolute;
  background-image: url(../svg/men.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 100%;
  /* max-width: 628px; */
  width: 120%;
  /* height: 640px; */
  aspect-ratio: 1/1;
  margin: auto;
  top: -40px;
  left: -40px;
  /* top: -2px; */
  /* margin-left: 38px; */
  z-index: 1;
}

/* ==========  FAQ  ===========*/
.faq {
  width: 100%;
  background-color: #ddd;
}
.faq-body {
  width: 100%;
  padding: 80px 25px;
}
.faq-title {
  margin-left: 32px;
}
.faq-title h2{
  font-size: 36px;
}
.faq-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}
.question{
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  overflow: hidden;
}
.faq-head {
  padding: 24px 32px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
}
.faq-head h3 {
  font-size: 36px;
}
.faq-head span {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 50px;
  border: 1px solid white;
  border-radius: 50%;
  line-height: 0.6;
  text-align: center;
  font-weight: 400;
  transform: rotate(45deg);
  transition: transform 2s;
}
.answer {
  color:#808080;
  font-size: 18px;
  padding: 0 48px 0 24px;
  max-height: 0;
  transition: padding 2s, max-height 2s;
}
.active-q .answer {
  max-height: 200px;
  padding: 16px 48px 24px 24px;
  transition: padding 2s, max-height 2s;
}
.active-q .faq-head span {
  transform: rotate(0);
  transition: transform 2s;
}




/* ==========  FOOTER  ===========*/
.footer {
  height: 300px;
}